{
  "extends": [
    "next",
    "next/core-web-vitals",
    "google"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "react/display-name": [
      "off"
    ],
    "quotes": "off",
    "object-curly-spacing": "off",
    "max-len": "off",
    "indent": "off",
    "valid-jsdoc": "warn",
    "quote-props": "off",
    "operator-linebreak": "off",
    "space-before-function-paren": "off",
    "spaced-comment": "off",
    "camelcase": "warn",
    "no-invalid-this": "off",
    "no-unused-vars": "off",
    "react/jsx-key": "off"
  },
  "ignorePatterns": [
    "cypress"
  ]
}
