{
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "google"
  ],
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "react/display-name": [
      "off"
    ],
    "quotes": "off",
    "object-curly-spacing": "off",
    "max-len": "off",
    "indent": "off",
    "valid-jsdoc": "warn",
    "quote-props": "off",
    "operator-linebreak": "off",
    "space-before-function-paren": "off",
    "spaced-comment": "off",
    "linebreak-style": "off"
  },
  "ignorePatterns": [
    "cypress"
  ]
}
