NEXT_PUBLIC_APP_ID=YOUR_MONGODB_APP_ID;
NEXT_PUBLIC_STATS_SERVER=YOUR_ETD_STATS_SERVER_URL
MONGODB_URL=YOUR_MONGODB_URL
NODE_PASSWORD=YOUR_NODE_PASSWORD_FOR_NODES
NEXT_PUBLIC_CLIENT_PASSWORD=YOUR_BROWSER_PASSWORD;
PUBLIC_SECRET=YOUR_APP_PASSWORD
STORAGE_MANAGEMENT_URL=