html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
    color: white;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

.form-item {
    padding: 10px;
    margin: 15px;
}

.offline-text{
    color: grey;
    text-decoration: line-through;
}
